@media screen and (max-width: 1280px) {
  .info__card {
    gap: 30px;
  }
}
@media screen and (max-width: 1024px) {
  .info__card__textArea {
    width: 550px;
  }
  .info__card__textArea__title {
    font-size: 35px;
    margin-bottom: 32px;
  }
  .info__card__textArea__subtitle {
    font-size: 19px;
    margin-bottom: 30px;
  }
  .info__card {
    gap: 28px;
  }
  .info__card__img {
    height: 376.74px;
    object-fit: cover;
    width: 311.7px;
    height: 376.74px;
  }
  .statistics {
    padding-left: 15px;
    padding-right: 15px;
  }
  .functional {
    padding-left: 15px;
    padding-right: 15px;
  }

  .functional__cardsArea__card {
    width: 422px;
    height: 509.3px;
  }

  .functional__cardsArea__card__mainImg {
    width: 345.9px;
    height: 135.77px;
  }

  .functional__card__textArea__subtitle {
    line-height: 24px;
    font-size: 16px;
  }
  .functional__card__textArea {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 17px;
  }
  .functional__card__textArea__icons {
    width: 90px;
    height: 90px;
    margin-bottom: 16px;
  }

  .usefulLinks {
    padding-left: 15px;
    padding-right: 15px;
  }
  .usefulLinks__bricks {
    display: grid;
    grid-template-columns: repeat(3, minmax(240px, 1fr));
    grid-template-rows: repeat(3, minmax(176px, 1fr));
    gap: 12px;
  }
  .div6 {
    border-radius: 16px;
    border-bottom-right-radius: 86px;
    grid-column: span 3 / span 3;
    grid-row-start: 3;
  }

  .div5 {
    border-top-left-radius: 86px;
    grid-column-start: 1;
    grid-row-start: 3;
  }
  .br-usefulLinks {
    display: none;
  }
  .usefulLinks__bricks__item__img--4 {
    position: relative;
    bottom: 30px;
  }
}
@media screen and (max-width: 960px) {
  .info {
    margin-top: 76px;
  }
  .info__card__img {
    width: 266.36px;
    height: 322.38px;
  }
  .info__card__textArea__title {
    font-size: 32px;
    margin-bottom: 25px;
    line-height: 42px;
  }
  .info__card__textArea__subtitle {
    font-size: 17px;
    margin-bottom: 24px;
  }
  .info__card {
    gap: 25px;
  }

  .info__card__textArea {
    width: 500px;
  }

  .statistics {
    margin-top: 65px;
    margin-bottom: 65px;
  }

  .statistics__inform__item__title {
    font-size: 100px;
    margin-bottom: 20px;
  }
  .statistics__inform__item__img {
    width: 70px;
    height: 70px;
    margin-bottom: 22px;
  }

  .functional__cardsArea__card {
    width: 380px;
    height: 503.3px;
  }
  .functional__card__textArea__icons {
    width: 74px;
    height: 74px;
    margin-bottom: 15px;
  }
  .cards--icons {
    width: 50px;
    height: 50px;
  }
  .functional__card__textArea__title {
    font-size: 30px;
  }
  .functional__card__textArea {
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 15px;
  }
  .functional__card__textArea__subtitle {
    line-height: 23px;
  }

  .functional__cardsArea__card__mainImg {
    width: 311.48px;
    height: 122.25px;
  }
  .functional {
    margin-bottom: 65px;
  }
}
@media screen and (max-width: 840px) {
  .info {
    margin-top: 65px;
  }
  .info__card__textArea {
    width: 423px;
  }
  .info__card__textArea__subtitle {
    font-size: 17px;
    margin-bottom: 22px;
    line-height: 25px;
  }
  .info__card__textArea__title {
    font-size: 26px;
    margin-bottom: 20px;
    line-height: 32px;
  }
  .info__card__img {
    width: 246.11px;
    height: 297.47px;
    padding-top: 8px;
    padding-left: 6.38px;
  }

  .info__text__logo {
    width: 313px;
    height: 56px;
  }

  .functional__cardsArea__card {
    width: 364px;
    height: 503.3px;
  }

  .statistics__inform__item__title {
    font-size: 90px;
    margin-bottom: 14px;
  }

  .statistics__inform__item__subtitle {
    font-size: 22px;
    line-height: 29px;
  }
}

@media screen and (max-width: 800px) {
  .info {
    margin-top: 60px;
  }
  .info__card {
    gap: 22px;
  }
  .statistics {
    margin-top: 62px;
    margin-bottom: 62px;
  }
  .statistics__inform {
    margin-top: 35px;
    justify-content: space-around;
  }
  .statistics__inform__item__subtitle {
    font-size: 20px;
    line-height: 25px;
  }
  .statistics__inform__item__title {
    font-size: 85px;
    margin-bottom: 12px;
  }
  .statistics__inform__item__img {
    width: 65px;
    height: 66px;
    margin-bottom: 18px;
  }

  .functional__cardsArea {
    justify-content: space-around;
  }

  .functional {
    margin-bottom: 62px;
  }
  .usefulLinks {
    margin-bottom: 62px;
  }
}

@media screen and (max-width: 777px) {
  .info {
    margin-top: 55px;
  }
  .info__text__logo {
    width: 288px;
    height: 52px;
  }
  .info__card {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    /* background: rgb(241 241 241);
    border-radius: 48px; */
    gap: 10px;
    border-radius: 48px;
    box-shadow: 8px 1px 15px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(43px);

    background: rgba(255, 255, 255, 0.96);
  }
  .info__card__img {
    margin-top: 0;
    width: 446px;
    height: 239px;
    border-radius: 48px;
    padding-bottom: 9px;
    padding-right: 11px;
    padding-top: 0;
    padding-left: 0;
  }
  .info__card__textArea__title {
    font-size: 25px;
    margin-bottom: 18px;
    line-height: 30px;
  }
  .info__card__textArea {
    width: 434px;
  }
  .info__card__textArea__bth {
    padding-bottom: 29px;
  }
  .info__card__textArea__bth {
    justify-content: center;
  }
  .statistics {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .section__title {
    text-align: center;
    padding-right: 188px;
  }

  .statistics__inform {
    margin-top: 45px;
  }
  .statistics__inform__item__subtitle {
    font-size: 18px;
    line-height: 22px;
  }
  .statistics__inform__item__title {
    font-size: 78px;
    margin-bottom: 9px;
  }
  .statistics__inform {
    gap: 12px;
  }
  .functional__cardsArea {
    flex-direction: column;
    gap: 25px;
  }
  .usefulLinks__bricks {
    display: grid;
    grid-template-columns: repeat(2, minmax(240px, 1fr));
    grid-template-rows: repeat(4, minmax(176px, 1fr));
    gap: 12px;
  }
  .div6 {
    grid-column: 2;
    grid-row-start: 4;
  }
  .div5 {
    grid-column-start: 2;
    grid-row-start: 3;
  }
  .div4 {
    grid-row: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 3;
  }
  .usefulLinks__bricks__item__img--4 {
    position: relative;
    bottom: 22px;
  }
}
@media screen and (max-width: 630px) {
  .statistics__inform__item__subtitle {
    font-size: 15px;
    line-height: 19px;
  }
  .statistics__inform__item__title {
    font-size: 67px;
    margin-bottom: 1px;
  }
  .statistics__inform__item__img {
    width: 60px;
    height: 60px;
    margin-bottom: 12px;
  }
  .statistics__inform {
    gap: 0px;
  }
  .usefulLinks__bricks {
    grid-template-columns: repeat(2, minmax(154px, 1fr));
    grid-template-rows: repeat(4, minmax(122px, 1fr));
  }
  .usefulLinks__bricks__item__img--1 {
    bottom: 4px;
    right: 16px;
  }
  .usefulLinks__bricks__item__img--4 {
    bottom: 34px;
  }

  .usefulLinks__bricks__item__img--5 {
    width: 99px;
    height: 129px;
  }
}

@media screen and (max-width: 580px) {
  .info__card__textArea {
    width: 368px;
  }
  .info__card__img {
    width: 380px;
    height: 226px;
  }
  .info__card__textArea__title {
    font-size: 24px;
    margin-bottom: 16px;
    line-height: 29px;
  }
  .info__card__textArea__subtitle {
    font-size: 15px;
    margin-bottom: 19px;
    line-height: 24px;
  }
  .info__card__textArea__bth {
    padding-bottom: 26px;
  }
  .statistics__inform__item__title {
    font-size: 52px;
    margin-bottom: 0px;
  }
  .section__title {
    text-align: center;
    padding-right: 0px;
  }
  .statistics {
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
  }
  .statistics__inform__item__subtitle {
    font-size: 12px;
    line-height: 15px;
  }
  .functional,
  .usefulLinks {
    padding-left: 0;
    padding-right: 0;
  }
  .usefulLinks__bricks {
    grid-template-columns: repeat(2, minmax(130px, 180px));
    grid-template-rows: repeat(4, minmax(103px, 123px));
  }
  .div1 {
    border-top-left-radius: 60px;
  }
  .div3 {
    border-radius: 16px;
    border-top-right-radius: 60px;
  }
  .div5 {
    border-top-left-radius: 60px;
  }
  .div6 {
    border-bottom-right-radius: 60px;
  }
  .usefulLinks__bricks__item__title {
    left: 11px;
    bottom: 14px;
    font-size: 13px;
    line-height: 17px;
  }
  .usefulLinks__bricks__item__img--3 {
    width: 84px;
    height: 92px;
    object-fit: contain;
    left: 26px;
  }
  .usefulLinks__bricks__item__img--4 {
    bottom: 20px;
  }
  .usefulLinks {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (max-width: 428px) {
  .info {
    margin-top: 38px;
  }
  .info__text__logo {
    width: 227px;
    height: 38px;
  }
  .info__card__textArea {
    width: 280px;
  }
  .info__card__img {
    width: 293px;
    height: 157px;
    border-radius: 32px;
  }
  .info__card__textArea__title {
    font-size: 20px;
    margin-bottom: 9px;
    line-height: 24px;
  }
  .info__card__textArea__subtitle {
    font-size: 12px;
    margin-bottom: 11px;
    line-height: 19px;
  }
  .info__card {
    border-radius: 32px;
  }
  .bth--porject {
    gap: 3px;
  }
  .info__card__textArea__bth {
    padding-bottom: 18px;
  }
  .statistics__inform__item__title {
    font-size: 38px;
  }
  .statistics__inform__item__subtitle {
    font-size: 10px;
    line-height: 13px;
  }
  .statistics__inform__item__img {
    width: 50px;
    height: 50px;
    margin-bottom: 7px;
  }
  .statistics__inform {
    gap: 3px;
  }
  .statistics__inform {
    margin-top: 30px;
  }
  .functional__cardsArea__card {
    width: 303.24px;
    height: 447px;
    border-radius: 32px;
  }
  .functional__card__textArea {
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .functional__card__textArea__icons {
    width: 59px;
    height: 59px;
    margin-bottom: 12px;
  }
  .cards--icons {
    width: 40px;
    height: 40px;
  }
  .functional__card__textArea__title {
    font-size: 26px;
    line-height: 42px;
  }

  .functional__cardsArea__card__mainImg {
    width: 248.56px;
    height: 97.56px;
    object-fit: cover;
  }
  .functional__card__textArea__subtitle {
    line-height: 24px;
    font-size: 15px;
  }
  .usefulLinks__bricks {
    grid-template-columns: repeat(2, minmax(118px, 148px));
    grid-template-rows: repeat(4, minmax(94px, 118px));
    gap: 12px;
  }
}
