.info__text__logo {
  width: 410px;
  height: 68px;
}

.info__text--bitrix {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info__card {
  display: flex;
  gap: 43px;
}

.info__card__textArea {
  width: 615px;
}

.info__card__textArea__title {
  font-family: var(--second-family);
  font-size: 40px;
  font-weight: 400;
  line-height: 47px;
  letter-spacing: 0%;
  text-align: left;
  word-wrap: break-word;
  margin-bottom: 39px;
}

.info__card__textArea__subtitle {
  font-family: var(--font-family);
  font-size: 21px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0%;
  text-align: left;
  word-wrap: break-word;
  margin-bottom: 32px;
}

.info__card__img {
  object-fit: cover;
  margin-top: 10px;
  width: 329.56px;
  height: 398.33px;
  background-color: #00bb50;
  padding-top: 11px;
  padding-left: 8.38px;
  border-radius: 36px;
}

.info__card__textArea__bth {
  display: flex;
  gap: 14px;
}

.bth--info--bitrix {
  padding: 16px 24px;
  width: 161px;
  height: 52px;
  background: #000000;
}

.statistics {
  margin-top: 70px;
  margin-bottom: 70px;
}

.statistics__inform {
  margin-top: 37px;
  display: flex;
  justify-content: space-between;
}

.statistics__inform__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.statistics__inform__item__img {
  width: 90px;
  height: 90px;
  margin-bottom: 32px;
}

.statistics__inform__item__title {
  font-family: var(--font-family);
  color: rgb(0, 187, 80);
  font-size: 114px;
  font-weight: 400;
  letter-spacing: 0%;
  margin-bottom: 23px;
}

.statistics__inform__item__subtitle {
  font-family: var(--second-family);
  font-size: 26px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
}

.functional {
  margin-bottom: 70px;
}

.cardsArea-row {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.functional__cardsArea {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section__title--marg {
  margin-bottom: 37px;
}

.functional__cardsArea__card {
  width: 488px;
  height: 589px;
  border-radius: 48px;
  position: relative;
  overflow: hidden;
}

.functional__card__textArea {
  padding-top: 38px;
  padding-left: 38px;
  padding-right: 22px;
}

.functional__card__textArea__icons {
  width: 96px;
  height: 96px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.greenIcon {
  background: rgb(0, 187, 80);
}

.blueIcon {
  background: rgb(0, 109, 255);
}

.background-Card--green {
  background: rgb(233, 237, 234);
}

.background-Card--blue {
  background: rgb(234, 233, 237);
}

.cards--icons {
  width: 64px;
  height: 64px;
}

.functional__card__textArea__title {
  font-family: var(--second-family);
  font-size: 38px;
  font-weight: 500;
  line-height: 60px;
  text-align: left;
}

.functional__card__textArea__subtitle {
  font-family: var(--font-family);
  font-size: 17px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
}

.functional__cardsArea__card__mainImg {
  width: 400px;
  height: 157px;
  border-radius: 5px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.usefulLinks {
  margin-bottom: 70px;
}

.blocks {
  background: rgb(217, 217, 217);
  overflow: hidden;
}

.usefulLinks__bricks {
  display: grid;
  grid-template-columns: repeat(4, minmax(240px, 1fr));
  grid-template-rows: repeat(2, minmax(176px, 1fr));
  gap: 12px;
}

.usefulLinks__bricks__item {
  position: relative;
}

@media (hover: hover) {
  .usefulLinks__bricks__item:hover {
    box-shadow: 3px 2px 22px 2px rgba(62, 250, 143, 0.476);
  }
}

@media (hover: none) {
  .usefulLinks__bricks__item:active {
    box-shadow: 3px 2px 22px 2px rgba(62, 250, 143, 0.476);
  }
}



.usefulLinks__bricks__item__title {
  position: absolute;
  left: 16px;
  bottom: 16px;
  font-family: var(--font-family);

  color: rgb(255, 255, 255);

  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

.div1 {
  background: rgb(0, 187, 80);
  border-radius: 16px;
  border-top-left-radius: 86px;
  grid-column: span 2 / span 2;
  border-top-left-radius: 86px;
}

.div2 {
  border-radius: 16px;
  grid-column-start: 1;
  grid-row-start: 2;
}

.div3 {
  border-radius: 16px;
  border-top-right-radius: 86px;
  grid-column-start: 2;
  grid-row-start: 2;
}

.div4 {
  background: rgb(0, 187, 80);
  border-radius: 16px;
  grid-row: span 2 / span 2;
  grid-column-start: 3;
  grid-row-start: 1;
}

.div5 {
  background: rgb(0, 187, 80);
  border-radius: 16px;
  border-top-left-radius: 86px;
  grid-column-start: 4;
  grid-row-start: 1;
}

.div6 {
  border-radius: 16px;
  border-bottom-right-radius: 86px;
  grid-column-start: 4;
  grid-row-start: 2;
}

.usefulLinks__bricks__item__img--1 {
  position: absolute;
  bottom: 16px;
  right: 16px;

  /* width: 173.08px;
  height: 140px; */
}

.usefulLinks__bricks__item__img--2 {
  position: absolute;
  right: 0;
  bottom: 0;
  /* width: 173.08px;
  height: 140px; */
}

.usefulLinks__bricks__item__img--3 {
  position: absolute;
  left: 45px;
  top: 0;
  /* width: 173.08px;
  height: 140px; */
}

.usefulLinks__bricks__item__img--4 {
  width: 100%;
}

.usefulLinks__bricks__item__img--5 {
  position: absolute;
  top: -7px;
  left: 50%;
  transform: translateX(-50%);
  /* width: 91.83px;
  height: 140.43px; */
}

.usefulLinks__bricks__item__img--6 {
  /* width: 85.02px;
  height: 106px; */
  position: absolute;
  left: 0;
  top: 0;
}

.slide__item__link {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 15px;
  color: #374150;
  pointer-events: auto;
}

.slide__item__link:active {
  transform: scale(1.1);
}

.slide__item__link:after {
  background-color: #00bb50; /* Цвет линии при наведении на нее курсора мыши */
  display: block;
  content: "";
  height: 2px; /* Высота линии */
  width: 0%;
  -webkit-transition: width 0.3s ease-in-out;
  -moz--transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

.slide__item__link:hover:after,
.slide__item__link:focus:after {
  width: 100%;
}
